﻿@model LogisticsMaps.Web.Models.AddCity

<div class="row">
    <div class="col-xs-2 col-xs-offset-2">
        <h2>Add city</h2>
    </div>
</div>

<div class="app-form">
    @using (Html.BeginForm("AddCity", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter city name" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    }
</div>
