﻿@model LogisticsMaps.Web.Models.AddRoute

<div class="row">
    <div class="col-xs-2 col-xs-offset-2">
        <h2>Add route</h2>
    </div>
</div>

<div class="app-form">
    @using (Html.BeginForm("AddRoute", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.CityA, "Endpoint A", new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.DropDownListFor(m => m.CityA, Model.Cities, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CityA, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Distance, new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.TextBoxFor(m => m.Distance, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Distance, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CityB, "Endpoint B", new { @class = "col-xs-2 control-label" })
            <div class="col-xs-10">
                @Html.DropDownListFor(m => m.CityB, Model.Cities, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CityB, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    }
</div>
