﻿@model LogisticsMaps.Web.Models.Index

<div class="row">

    <div class="jumbotron">
        <h2>Logistic center: @Model.LogisticCenter</h2>

        <div>
            @using (Html.BeginForm("Update", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-xs-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <table class="table table-striped table-bordered">
                <caption>
                    <h4 class="text-center">Available cities</h4>
                </caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in Model.Cities)
                    {
                        <tr>
                            <td>@city.Name</td>
                            <td>
                                @using (Html.BeginForm("DeleteCity", "Home", new { id = city.Id }, FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-8">
            <table class="table table-striped table-bordered">
                <caption>
                    <h4 class="text-center">Routes</h4>
                </caption>
                <thead>
                    <tr>
                        <th>Endpoint A</th>
                        <th>Distance</th>
                        <th>Endpoint B</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var route in Model.Routes)
                    {
                        <tr>
                            <td>@route.CityA</td>
                            <td>@route.Disctance</td>
                            <td>@route.CityB</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
